.footer{
    background-color: #fffaf6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 80px 40px;
    border: 1px solid rgba(216,216,216,0.6);
    border-radius: 5px;

}
.contact h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
}
.contact h2{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #444444;
}
.contact h3{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #e9304f;
}
.contact h3 i{
    margin-right: 14px;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img img{
    width: 400px;
    object-fit: cover;
}
.img p{
    margin: 50px 0px 10px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #212529;
    letter-spacing: 1px;
}
@media only screen and (max-width:739px) {
    .footer{
        flex-wrap: wrap;
    }
    .contact h1{
        font-size: 15px;
    }
    .contact h2{
        font-size: 12px;
    }
    .contact h3{
        font-size: 11px;
    }
    .img img{
        width: 250px;
    }
    .img p{
        font-size: 10px;
    }
}
@media (min-width:739px) and (max-width:999px) {
    .footer{
        flex-wrap: wrap;
    }
    .contact h1{
        font-size: 20px;
    }
    .contact h2{
        font-size: 15px;
    }
    .contact h3{
        font-size: 14px;
    }
    .img img{
        width: 300px;
    }
    .img p{
        font-size: 12px;
    }
}
@media (min-width:1000px) and (max-width:1116px) {
    .contact h1{
        font-size: 20px;
    }
    .contact h2{
        font-size: 15px;
    }
    .contact h3{
        font-size: 14px;
    }
    .img img{
        width: 300px;
    }
    .img p{
        font-size: 12px;
    }
}